<article class='article'>
	<header class='article_header'>
		<h1><%= Title %></h1>
	</header>
	<div class='article_body'>
		<%- Content %>		
	</div>
	<footer class='article_footer'>
		<div class="pagination">
			<%- List_Prev %>
			<%- List_Next %> 	 	
		</div>		
	</footer>
</article>
