<footer class='copyright'>
	<p>©2015-<%= ThisYear %> <a target="_blank" href="https://en.wikipedia.org/wiki/MIT_License" class='license'>MIT license</a></p>
</footer>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>